<section>    
    <app-login ></app-login>
    <app-about></app-about>
    <app-info></app-info>
</section>



 <!-- <app-heading>
    Welcome to Northwind Website!
    <span class="sub-header">The Best Website Ever!</span>
</app-heading>  -->

<!-- Interpolation: -->
<!-- <p>Only now, at {{currentDate | date:'MMMM yyyy'}} - {{currentDiscount}}% discount on all products above {{minPrice |
    currency:'ILS'}}! </p> -->

<!-- Property Binding: -->
<!-- <img #homeImage src="/assets/images/home.png" [width]="imageWidth"> 

<div>-->
    <!-- Event Binding: -->
    <!-- <button (click)="increase()">&uarr;</button>
    <button (click)="reset()">&harr;</button>
    <button (click)="decrease()">&darr;</button>
    <button (click)="details(homeImage)">Details</button>
    <br><br> -->

    <!-- Two Way Binding: -->
    <!-- <input type="range" min="100" max="500" step="10" value="300" [(ngModel)]="imageWidth">
    <br><br>

    <span>{{homeImage.width}} X {{homeImage.height}}</span>
</div>

<div>
    <h3>Products: </h3> -->

    <!-- Attribute Directive: -->
    <!-- <p ngClass="greenApples">Apples</p>
    <p [ngClass]="dynamicBananaClass">Bananas</p> -->

    <!-- Structural Directive: -->
    <!-- <p *ngIf="isWinter">Oranges</p>
    <p *ngFor="let v of vegetables">{{v}}</p>

    <ng-container [ngSwitch]="grapesColor">
        <p *ngSwitchCase="'Red'">Red Grapes</p>
        <p *ngSwitchCase="'Black'">Black Grapes</p>
        <p *ngSwitchCase="'Green'">Green Grapes</p>
        <p *ngSwitchDefault>Grapes</p>
    </ng-container>

</div> -->
 
