<!-- <img #previewImage> -->
<div>ssssssssssssssssssssssssssssssssssss</div>
<!-- <div>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Image</th>
        </tr>
        <tr *ngFor="let p of allProducts">
            <td>{{ p.name }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.stock | zeroSymbol:'No Stock' }}</td>
            <td>
                <app-thumbnail 
                    imageSource="/assets/images/products/{{ p.id }}.jpg" 
                    width="50" height="50"
                    (imageOver)="previewImage.src=$event"
                    (imageLeave)="previewImage.src=''"></app-thumbnail>
                 Registering an Event - רישום לארוע-->
            <!-- </td>
        </tr>
    </table>
</div> --> 